<h2>Your account has been deleted</h2>

<p>Hi <%= @email %>,</p>

<p>Your demucs:r account has been permanently deleted. All of your tracks and stems have been removed from our servers.</p>

<p style="color: #888; font-size: 12px;">If you didn't request this, please contact us at support@demucsr.com.</p>
