<h2>Reset your password</h2>

<p>Hi <%= @user.email_address %>,</p>

<p>Click the link below to reset your password. The link expires in 15 minutes.</p>

<p><a href="<%= edit_passwords_url(token: @token) %>">Reset password</a></p>

<p>If you didn't request a password reset, you can ignore this email.</p>
