input/*
models/*
output/*
!input/.gitkeep
!models/.gitkeep
!output/.gitkeep
web/tmp/*

# Misc
.DS_Store
**.claude*
**CLAUDE.md
**.env
docker-compose.override.yml
web/config/master.key
web/config/credentials.yml.enc

