FREE_MODE=false
POSTGRES_USER=demucs
POSTGRES_PASSWORD=changeme
SECRET_KEY_BASE=

# Set to true to enable GPU acceleration (requires NVIDIA Container Toolkit and `make build`)
DEMUCS_GPU=false

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
AWS_BUCKET=demucs
S3_ENDPOINT=http://minio:9000
PUBLIC_S3_ENDPOINT=http://demucsr.com:8000
