apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - pvc.yaml
  - postgres.yaml
  - minio.yaml
  - minio-init.yaml
  - web.yaml
  - worker.yaml
  - demucs.yaml

images:
  - name: demucs-web
    newName: ghcr.io/your-github-username/demucs-web
    newTag: latest
  - name: demucs
    newName: ghcr.io/your-github-username/demucs
    newTag: latest
